<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <span class="pull-left" style="margin-right: 15px;">
      <img src="{{ contact?.imageUrl }}" alt="Contact" class="img-responsive img-thumbnail" style="max-width: 60px;">
    </span>
    <h4 style="margin-top: 5px; margin-bottom: 8px;"> {{contact?.name }} </h4>
    <div>
      <a role="button" class="btn btn-primary btn-xs" [routerLink]="['edit']"
        routerLinkActive="router-link-active">Edit</a>
      <a role="button" class="btn btn-danger btn-xs" style="margin-left: 5px;" (click)="onDelete()">Delete</a>
    </div>
  </div>
  <div class="panel-body">
    <p style="margin-bottom: 5px;">
      <strong>Email:</strong> {{contact?.email }}
    </p>
    <p style="margin-bottom: 0;">
      <strong>Phone:</strong> {{ contact?.phone }}
    </p>
  </div>
</div>