<div class="panel panel-default">
  <div class="panel-body">
    <form id="contact-edit" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" class="form-control" size="120" max="120" required
            [ngModel]="contact?.name" #name="ngModel" />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="email">Email:</label>
          <input type="text" id="email" name="email" class="form-control" size="120" max="255" required
            [ngModel]=" contact?.email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
        </div>
      </div>
      <div class=" row" *ngIf="email.touched && email.invalid">
        <div class="col-xs-12">
          <div class="alert alert-danger">
            Enter a valid Email address (e.g., name&#64;example.com).
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="phone">Phone:</label>
          <input type="text" id="phone" name="phone" class="form-control" size="150" max="255"
            [ngModel]="contact?.phone" #phone="ngModel" pattern="\D*([2-9]\d{2})(\D*)([2-9]\d{2})(\D*)(\d{4})\D*" />
        </div>
      </div>
      <div class="row" *ngIf="phone.touched && phone.invalid">
        <div class="col-xs-12">
          <div class="alert alert-danger">
            Enter a valid phone number (e.g., (555) 555-5555).
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="imageUrl">Image URL:</label>
          <input type="text" id="imageUrl" name="imageUrl" class="form-control" size="150" max="255"
            [ngModel]="contact?.imageUrl" #imageUrl="ngModel" />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="groupList">Group Contacts:</label>

          <div cdkDropList id="groupListContainer" [cdkDropListData]="groupContacts"
            [cdkDropListConnectedTo]="['allContactsListContainer']" (cdkDropListDropped)="addToGroup($event)"
            class="groupDiv">
            <div *ngFor="let contact of groupContacts; let i = index" cdkDrag [cdkDragData]="contact"
              class="contact-group-item-wrapper">
              <cms-contact-item [contact]="contact" class="contact-item-in-group"></cms-contact-item>
              <button class="btn btn-danger deleteButton" (click)="onRemoveItem(i)" type="button">X</button>
            </div>
            <span class="dragMsg" *ngIf="!groupContacts || groupContacts.length < 1">Drag contacts in group
              here</span>
          </div>

        </div>
      </div>


      <div class="row">
        <div class="col-xs-12">
          <div class="alert alert-danger"
            *ngIf="(name.untouched && name.invalid) || (email.untouched && email.invalid)">
            The Name and Email fields are required.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit" *ngIf="f.valid">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>

    </form>
  </div>
</div>