<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="panel-title pull-left" style="padding-top: 7.5px;">Contacts</h3>
        <div class="pull-right">
          <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <cms-contact-item *ngFor="let contactModel of contacts" [contact]="contactModel" />
      </div>
    </div>
  </div>
</div>